#app {
  margin-top: 40px;
}

#progressInput {
  margin: 20px auto;
  width: 30%;
}
svg {
  transition: fill 3s ease-out;
}
.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: rgba(0, 0, 0, 0.1);
}

.circle-progress {
  transition: 0.2s ease-out;
  stroke: #1565c0;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-size: 3em;
  font-weight: bold;
  fill: #333;
}
